* {
    -fx-primary : #2A2E37;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-green:#2E7D32;
}

.tab{
    -fx-background-color: -fx-primary;
    -fx-pref-width : 350;
    -fx-pref-height : 60;
}

.tab-header-background{
    -fx-background-color: -fx-primary;
}

/*
.jfx-tab-pane .tab-selected-line
{
    -fx-border-color:  -fx-red;
}
*/

.jfx-text-field {
    -fx-prompt-text-fill: #989898;
}

.jfx-combo-box {
    -fx-prompt-text-fill: #989898;
}



.jfx-snackbar-content {
    -fx-background-color: #323232;
    -fx-padding: 5;
    -fx-spacing: 5;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}

.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}

