.add-to-cart-btn {
    -fx-background-image: url('../images/shopping-cart-dark-icon.png');
    -fx-background-position: center;
    -fx-background-repeat: stretch;
}

.delete-btn {
    -fx-background-image: url('../images/rubbish-bin.png');
    -fx-background-position: center;
    -fx-background-repeat: stretch;
}

.edit-btn {
    -fx-background-image: url('../images/pencil-edit-button.png');
    -fx-background-position: center;
    -fx-background-repeat: stretch;
}