.blue-btn {
    -fx-background-color: #01466f;
    -fx-text-fill: white;
    -jfx-button-type: RAISED;
}

.jfx-snackbar-content {
    -fx-background-color: #323232;
    -fx-padding: 5;
    -fx-spacing: 5;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}

.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}
